# autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/

# build outputs
*.o
*.lo
*.la
.libs/
.deps/
liblithogen.pc
lithogen
lithogen.exe
